{{#req.validation}}
<div class="validation form-row">
  {{#instructions}}<div class="validation-instruction">{{.}}</div>{{/instructions}}
  {{^instructions}}
  {{#errors}}<div class="validation-instruction">{{.}}</div>{{/errors}}
  {{/instructions}}
</div>
{{/req.validation}}
{{#req.message}}
<div class="validation form-row">
  <div class="validation-instruction">{{.}}</div>
</div>
{{/req.message}}