{{#req.form}}
<form id="password-expiration-form" method="post" class="auto-focus vert-margin40">
{{#map}}
<div class="form-container centered-400 peach">
  {{>/auth/include-validation}}
  <div class="form-row">
    {{{cpw}}}<label class="label">Current password</label>
  </div>
  <div class="form-row">
    {{{npw.renderPrincipal}}}<label class="label">New password</label>
  </div>
  <div class="form-row">
    {{{npw.renderConfirm}}}<label class="label">Confirm new password</label>
  </div>
  <div class="form-row">
    <span class="label"></span>{{{submit}}}
  </div>
</div>
{{/map}}
{{{renderEnd}}}
{{/req.form}}
