{{</layout}}
{{$title}}Login{{/title}}
{{$headline}}Already logged in{{/headline}}
{{$css}}{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<p>{{req.message}}  Want to <a href="/logout">logout</a> or return to <a href="/">the home page</a>?</p>

{{/body}}
{{//layout}}