{{</layout}}
{{$title}}Password Reset Complete{{/title}}
{{$headline}}Password reset complete{{/headline}}
{{$css}}{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<div class="accent-box accent3">Your new password has been saved!</div>

<p>Your account's new password has been saved.  You may proceed to the <a href="/login">login page</a>
 to login.</p>

{{/body}}
{{//layout}}
