{{</layout}}
{{$title}}Password Reset Request{{/title}}
{{$headline}}Password Reset Request{{/headline}}
{{$css}}<style>
#submit { width: 147px; }
</style>{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<p>Have you forgotten your password?  If so, provide your account's username in the form below to reset your password.</p>

<form id="password-reset-form" method="post" class="auto-focus vert-margin40">
<div class="form-container centered-400 peach">
  {{>/auth/include-validation}}
  <div class="form-row">
    <input type="text" name="un" id="un" value="{{query.un}}" /><label class="label" for="un">Email address</label>
  </div>
  <div class="form-row">
    <span class="label"></span><input type="submit" value="Submit" name="submit" id="submit" />
  </div>
</div>
</form>

{{/body}}
{{//layout}}
