{{</layout}}
{{$title}}Your password has expired{{/title}}
{{$headline}}Your password has expired{{/headline}}
{{$css}}<style>
#submit { width: 147px; }
</style>{{/css}}
{{$nav}}{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<p>Your password has expired and you are required to change it now.</p>

{{>/auth/include-password-expiration-form}}

{{/body}}
{{//layout}}