{{</layout}}
{{$title}}Reset Your Password{{/title}}
{{$headline}}Reset Your Password{{/headline}}
{{$css}}<style>
#submit { width: 147px; }
</style>{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<p>Your password-request authorization has been accepted.  Provide a new password for your account in the form below.</p>

<form id="password-reset-process-form" method="post" class="auto-focus vert-margin40">
<div class="form-container centered-400 peach">
  {{>/auth/include-validation}}
  <div class="form-row">
    <input type="password" name="newpw" id="newpw" /><label for="newpw" class="label">Password</label>
  </div>
  <div class="form-row">
    <input type="password" name="confirmpw" id="confirmpw" /><label for="confirmpw" class="label">Confirm</label>
  </div>
  <div class="form-row">
    <span class="label"></span><input type="submit" name="submit" id="submit" value="Submit" />
  </div>
</div>
</form>

{{/body}}
{{//layout}}
