{{</layout}}
{{$title}}Password Reset Request - Ticket not valid{{/title}}
{{$headline}}Authorization ticket not valid{{/headline}}
{{$css}}{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<p class="accent-box accent4">The password-reset authorization ticket you've provided is not valid.</p>

<p>If you did not use your authorization ticket soon after it was generated, it 
may have expired.  You can <a href="/reset-password">request a new password-reset authorization ticket</a>
or return to the <a href="/login">login page</a>.</p>

{{/body}}
{{//layout}}
