{{</layout}}
{{$title}}Password Reset Request Confirmation{{/title}}
{{$headline}}Password reset request confirmed{{/headline}}
{{$css}}{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<div class="accent-box accent1">Your password reset request has been received.</div>

<p>An e-mail has been generated and sent to the e-mail address on file with your 
account.  The e-mail contains instructions and an authorization URL that you may 
use to reset your account's password.  Please wait for the e-mail to arrive and 
proceed accordingly.</p>

{{/body}}
{{//layout}}
