{{</layout}}
{{$title}}Your password will expire soon{{/title}}
{{$headline}}Your password will expire soon{{/headline}}
{{$css}}<style>
#submit { width: 147px; }
</style>{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

{{#req}}
<p>Your password is will expire in {{#days}}{{.}} day{{#daysPlural}}s{{/daysPlural}}{{/days}}{{^days}}less than a day{{/days}}.</p>

<p>Please consider changing it now before it expires.</p>

{{>/auth/include-password-expiration-form}}

<p>Or <a href="{{noChangeUri}}">proceed without changing</a> your password.  You will be reminded again when you next login.</p>
{{/req}}

{{/body}}
{{//layout}}
