{{</layout}}
{{$title}}Your password will expire soon{{/title}}
{{$headline}}Your password will expire soon{{/headline}}
{{$css}}<style>
#submit { width: 147px; }
</style>{{/css}}
{{$nav}}<a href="/">Home</a>{{/nav}}
{{$contentclasses}}{{/contentclasses}}
{{$subnav}}{{/subnav}}
{{$body}}

<p>Your password has been successfully changed.  Thank you!</p>

<p>You may <a href="{{req.noChangeUri}}">proceed</a> when ready.</p>

{{/body}}
{{//layout}}
