{{</layout}}
{{$title}}Profile{{/title}}
{{$headline}}Authenticated users only{{/headline}}
{{$css}}{{/css}}
{{$nav}}<a href="/">Home</a><a
  href="/example">Example</a><a
  href="/user" class="active">User</a><a
  href="/admin">Admin</a>{{/nav}}
{{$body}}
<h1 class="no-margin">User</h1>
<p>This is an example of a page that can only be reached by authenticated users.</p>
{{/body}}
{{//layout}}