{{</layout}}
{{$title}}Example{{/title}}
{{$headline}}Mustache and style examples{{/headline}}
{{$css}}{{/css}}
{{$nav}}<a href="/">Home</a><a
  href="/example" class="active">Example</a><a
  href="/admin">Admin</a>{{/nav}}
{{$contentclasses}}with-subnav{{/contentclasses}}
{{$subnav}}<a
  href="#">Subnav Item</a><a 
  href="#" class="active">Style Examples</a><a
  href="#">Another Item</a>{{/subnav}}
{{$body}}

<h1 class="no-margin">Example h1</h1>
<p>This page is simply an example of the stock Mustache templates and CSS provided by the application builder.  This example includes a sub-navigation that doesn't do anything (see above).</p>
<h2>Example h2</h2>
<p>Example paragraph.</p>
<h3>Example h3</h3>
<p>Example paragraph.</p>
<h4>Example h4</h4>
<p>Example paragraph.</p>
<h5>Example h5</h5>
<p>Example paragraph.</p>

<div>
  <div class="half-wide accent1">Foo</div><div class="half-wide accent2">Bar</div>
</div>

<div class="inset section with-title">
  <div class="section-title">Hello</div>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut id ante eros, sit amet commodo risus. Maecenas volutpat sagittis placerat. Quisque aliquet tellus sit amet metus sagittis in interdum massa blandit. Nunc vitae ligula sed diam convallis feugiat. Sed aliquam molestie mauris, sed porta tortor gravida et. Donec mollis tincidunt volutpat. Phasellus quam elit, tempor id vulputate a, imperdiet quis lectus. Nulla facilisi. Nam accumsan tortor tempus metus adipiscing dignissim. Vivamus fringilla magna nulla, quis scelerisque risus. Nulla facilisi. Fusce pulvinar odio ante. </p>
  <div>
    <div class="half-wide accent1">Foo</div><div class="half-wide accent2">Bar</div>
  </div>
</div>

<div class="accent-box accent1">Accent 1 <a href="#">Anchor</a></div>
<div class="accent-box accent2">Accent 2 <a href="#">Anchor</a></div>
<div class="accent-box accent3">Accent 3 <a href="#">Anchor</a></div>
<div class="accent-box accent4">Accent 4 <a href="#">Anchor</a></div>
<div class="accent-box accent5">Accent 5 <a href="#">Anchor</a></div>
<div class="accent-box accent6">Accent 6 <a href="#">Anchor</a></div>
<div class="accent-box accent7">Accent 7 <a href="#">Anchor</a></div>

{{/body}}
{{//layout}}