<!DOCTYPE html>
<html>
<head>
    <title>{{$title}}{{/title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="{{app.path.img}}icon.png">
    {{#app.env.testOrProd}}
    <link rel="stylesheet" type="text/css" href="{{app.path.css}}app.css" />
    {{/app.env.testOrProd}}
    {{#app.env.dev}}
    <link rel="stylesheet" type="text/less" href="{{app.path.css}}app.less" />
    {{/app.env.dev}}

    {{$css}}{{/css}}

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{#app.env.testOrProd}}
    <script src="{{app.path.js}}head.min.js"></script>
    {{/app.env.testOrProd}}
    {{#app.env.dev}}
    {{! Add JavaScript that is required prior to page load here. }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.3/less.min.js"></script>
    {{/app.env.dev}}
</head>
<body>
    <div class="center-column">
        <nav class="top-nav">
            <span class="top-right-nav">{{#currentUser}}
              <span class="current-user-details"><span
                class="current-user-alias">{{userUsername}}</span><span
                class="current-user-email">{{userEmail}}</span></span>
              <a href="/logout">Logout</a>{{/currentUser}}{{^currentUser}}
              <a href="/login">Login</a>{{/currentUser}}
            </span>
            {{$nav}}{{/nav}}
        </nav>
        <h1 class="page-name">{{$headline}}{{/headline}}</h1>
            <div class="content-column {{$contentclasses}}{{/contentclasses}}">
                <nav class="subnav">
                {{$subnav}}{{/subnav}}
                </nav>
            <div class="contentcontainer">
                {{>/include/messages}}
                {{$body}}{{/body}}
            </div>
        </div>
    </div>
    {{#app.env.testOrProd}}
    <script src="{{app.path.js}}footer.min.js"></script>
    {{/app.env.testOrProd}}
    {{#app.env.dev}}
    <script src="{{app.path.js}}app.js"></script>
    {{/app.env.dev}}

    {{$js}}{{/js}}

</body>
</html>
